<nav class="navbar" style="background-color: #2C3E50;">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand">
      <img src="../../assets/logo-zup.svg" alt="Logo New Hire" width="75px">
    </a>
    <div class="form-group row search-bar">
      <button class="btn btn-default" 
        type="submit" 
        style="font-size: 1.4rem; 
          background-color: #FFF; 
          color: #B4C12C; 
          border-radius: 50px 0 0 50px;
          margin-top: 15px;"
        >
        <i class="bi bi-search"></i>
      </button>
      <input placeholder="Buscar"
        style="font-weight: 600;
        border: none;
        border-radius: 0 50px 50px 0;
        width: 43.75rem;
        margin-top: 15px;"
      >
    </div>
    <button class="btn btn-default" type="submit"><i class="bi bi-person-circle" style="font-size: 2rem; color: #FFF;"></i></button>
  </div>
</nav>
