<nav class="navbar-expand-lg">
  <div class="ml-4">
    <ul class="navbar-nav flex-column">
      <li class="nav-item mt-3">
        <a href="#" routerLinkActive="active" class="nav-link"><i class="bi bi-person-lines-fill pr-2"></i>Todos</a>
      </li>
      <li>
        <a href="#" routerLinkActive="active" class="nav-link"><i class="bi bi-check2-all pr-2" style="font-size: 1.1rem;"></i>Atendidos</a>
      </li>
      <li>
        <a href="#" routerLinkActive="active" class="nav-link"><i class="bi bi-trash-fill pr-2"></i>Lixeira</a>
      </li>
    </ul>
  </div>
</nav>
